<section class="account-sign-in">
    <div class="account-sign-in-header">
        <h2>Sign Up</h2>
    </div>
    <div class="account-sign-in-form">
        <form action="/signup" method="POST">
            <div class="form-control">
                <label for="username">Username</label>
                <input type="text" class="entry-field" name="username" id="username">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" class="entry-field" name="password" id="password">
            </div>
            <button class="btn" type="submit">Sign Up</button>
        </form>
    </div>
    <div class="account-sign-in-link">
        <p>Already have an account? <a href="/login">Sign in here</a></p>
    </div>
</section>

<script src="/js/signup.js"></script>
```